# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Python cache & artifacts
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual environments
# -------------------------
venv/
.env/
.venv/
ENV/

# -------------------------
# IDE / Editor files
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS-specific files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log